:root {
    --bg-text-color: #A0CB23;
}
.notFound{
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    background-repeat: no-repeat;
    align-items: stretch;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}
.notFound h1{
    font-size: 100px;
}
.notFound h3{
    color: #eb1002;
}
.notFound p{
    font-size: 20px;
    text-align: justify;
    word-wrap: break-word;
}
.notFound button{
    background-color: var(--bg-text-color);

    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
@media only screen and (max-width:1000px) {
    .notFound .egg{
        order: 2 !important;
    }
    .notFound .egg img{
        margin: 30px;
        width: 80%;
    }
    .notFound .not404{
        margin: 30px;
        order: 1 !important;
    }
    .notFound {
       
        flex-direction: column;
    }
}
@media only screen and (min-width:1001px) {
    
    .notFound .egg img{
        margin-left: 30px;
        width: 80%;
    }
    .notFound .not404{
        margin-right: 30px;
        order: 1 !important;
    }
}

.notFound button:hover{
    background-color: #addd1c;
}
.notFound img{
    max-width: 100%;
}
.notFound .bgImage{
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: -110px;
    width: 500px;
}