@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Fira+Code&family=Hind+Siliguri:wght@500&family=Lateef&family=Orbitron&family=Poppins:wght@500&display=swap');




*{
    font-family: 'Poppins', sans-serif;
}
.bgHeader img:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}
:root {
    --bg-text-color: #A0CB23;
}
.bgHeader img:nth-child(2){
    z-index: -10;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(-180deg);
}
.headerTop{
    padding: 10px;
    background-color: var(--bg-text-color);
}
