.searchBtn button{
    background-color: #7da30a;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.searchBtn {
    display: flex;
    align-items: center;

}
.searchBtn input {
    padding: 0 5px;
    font-size: 20px;
    background-color: #f2f5e8;
    outline: none;
    border: none;
    border-radius: 5px;
}

.searchReasult{
    padding: 40px;
    right: 0;
    overflow: auto;
    z-index: 100;
    background-color: #ffffff;
    height: 60vh;
    position: absolute;
    width: 100%;
}
