:root {
    --bg-text-color: #80a218;
}

.manageItemMain {
    display: flex;

    justify-content: center;
    margin: 30px;
}

.manageItem img{
    width: 400px;
    height: auto;
}
.manageItem .price {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.manageItem .new {
    color: var(--bg-text-color);
}

.manageItem .price .old {
    color: rgb(196, 196, 196);
}

.manageItem .category a {
    color: var(--bg-text-color);
    text-decoration: none;
    padding: 5px;
}

.manageItem p {
    margin: 0 auto;
    display: block;
    word-break: break-all;
    margin-bottom: 10px;
}
.manageItem button{
    background-color: var(--bg-text-color);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.manageItem button:hover{
    background-color: #b1dd2a;
}

.reStockDel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#restock {
    background-color: gainsboro;
    border: none;
    padding: 5px;
    outline: none;
}